body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif !important;
}

*, h1, h2, h3, h4, h5, h6, p, button, a {
  font-family: "Cairo", sans-serif !important;
}

.decor-none {
  text-decoration: none !important;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.grad {
  background: rgb(13, 32, 104);
  background: linear-gradient(336deg, rgba(13, 32, 104, 0.7833508403) 12%, rgb(13, 32, 104) 100%);
}

.text-center {
  text-align: center;
}

.clr {
  color: #319eab !important;
}

.clr4 {
  color: #2751f3 !important;
}

.blog-h1 {
  padding: 1em 0 !important;
  color: #319eab !important;
  font-size: 1.8em !important;
  font-weight: 700 !important;
}

.clr3 {
  color: #d1d1d1 !important;
}

.bg {
  background: #319eab !important;
}

.bg4 {
  background: #f5f5f5 !important;
}

.blog-p {
  font-weight: 400 !important;
  font-size: 1em !important;
}

.blog-h2 {
  font-weight: 700 !important;
  font-size: 1.25em !important;
  color: #eceded;
  padding: 0.75em 0;
}

.blog-h3 {
  font-weight: 700 !important;
  font-size: 1.25em !important;
  color: #eceded;
  padding: 0.55em 0;
}

.bg3 {
  background: white !important;
}

.table {
  margin: 0 !important;
  padding: 0 1em !important;
}

.smIcon {
  padding: 0.61em;
  width: 1.25em;
  gap: 0.25em;
  height: 1.25em;
  margin: 0;
}

.gap2 {
  gap: 0.5em !important;
}

.gap4 {
  gap: 1em !important;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.w100 {
  width: 100% !important;
}

.wfit {
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.pointer {
  cursor: pointer !important;
}

.white {
  color: white;
}

.rounded {
  border-radius: 50%;
}

.br8 {
  border-radius: 8px;
}

.bg2 {
  background: #eceded !important;
}

.hover {
  transition: all 0.3s ease;
}
.hover:hover {
  color: #319eab !important;
}

.clr2 {
  color: #eceded !important;
}

.logo {
  display: flex;
  width: 100px;
  z-index: 2414124124;
}

.footerlogo {
  display: flex;
  width: 150px;
  z-index: 2414124124;
}

.filter {
  filter: invert(1);
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.auto {
  margin: 0 auto;
}

.wrap {
  flex-wrap: wrap;
}

.img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative !important;
}

.drawer {
  z-index: 22;
  display: none;
  position: fixed;
  flex-direction: row;
  width: 100%;
}

.align-center {
  align-items: center;
}

.centerize {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1.blog-text {
  font-size: 1.48em !important;
  font-weight: 700;
  color: #2d4f62;
  padding: 0.35em 0;
}

h2.blog-text {
  font-size: 1.44em !important;
  padding: 0.25em 0;
}

h3.blog-text {
  font-size: 1.24em !important;
  padding: 0.15em 0;
}

p.blog-text {
  font-size: 1.02em !important;
  line-height: 1.55;
  padding: 0.1em 0;
}

.UNDERLINE {
  text-decoration: underline !important;
}

.footer {
  display: flex;
}

.blur {
  background: rgba(255, 255, 255, 0.01);
  border-radius: 2px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.blur:hover {
  border: 1px solid rgba(255, 255, 255, 0.138);
}

.h2 {
  font-size: 2.55em !important;
  font-weight: bolder !important;
}

.BOLD {
  font-weight: bold !important;
}

.ITALIC {
  font-style: italic !important;
}

.contain {
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.hid {
  transform: translateY(15px);
  opacity: 0;
}

.service-bg {
  transform: translateX(-100%);
}

.decor-none {
  text-decoration: none !important;
}
.decor-none button {
  text-decoration: none !important;
}

.goal-bg {
  width: 100%;
  max-height: 500px;
  height: 100%;
}

.hero-img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  z-index: -1;
  right: 0;
}
.hero-img img {
  height: 100%;
}

.rounded {
  border-radius: 50% !important;
}

.arb {
  direction: rtl;
  text-align: right;
}

.menu {
  right: 0;
  width: -moz-max-content;
  width: max-content;
  padding: 2em;
  background: #319eab;
  justify-content: end;
  opacity: 0;
  display: none;
}
.menu div {
  margin: 0;
  display: flex;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.menu2 {
  background: #eceded;
  top: -150%;
  height: 100vh;
  opacity: 0;
  display: none;
  right: 0;
}
.menu2 div {
  display: flex;
  margin: 0;
  width: 100%;
}

.flex {
  display: flex !important;
}/*# sourceMappingURL=styles.css.map */