body {
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: 'Noto Sans', sans-serif !important;
}
*, h1 ,h2 ,h3 ,h4 ,h5 ,h6 ,p , button ,a  {
    font-family: 'Noto Sans', sans-serif !important;
}
$clr : rgb(0, 0, 255);
.bg {
    background: $clr !important;
}
.logo {
    width: 100px;
    z-index: 2414124124;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.absolute {
    position: absolute;
}
.menu {
    top: -150%;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: $clr;
    opacity: 0;
    display: none;
    
}